name: Deploy Firebase Rules

on:
  push:
    branches:
      - main

jobs:
  firebase:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Deploy Firebase Rules
        run: firebase deploy --only firestore,storage
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
